apiVersion: v1
kind: ConfigMap
metadata:
  name: portfolio-config
  namespace: portfolio
data:
  NODE_ENV: "production"
  AUTH0_BASE_URL: "https://portfolio.local"  # Update with your domain
  NEXTAUTH_URL: "https://portfolio.local"    # Update with your domain